body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  color: #333;
}

.header {
  background: #2c3e50;
  padding: 0px 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}
.header nav a:hover {
  text-decoration: underline;
}

.hero {
  text-align: center;
  padding: 60px 20px;
  background-color: lightcyan;
  padding-bottom: 0px;
}
.hero h2 {
  color: black;
  font-size: 36px;
  margin-bottom: 15px;
}
.hero p{
  color: black;
}
.hero .btn {
  display: inline-block;
  background: #e67e22;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 20px;
  border-radius: 5px;
}
.hero .btn:hover {
  background: #d35400;
}

.services {
    background-color: lightcyan;

  text-align: center;
  padding: 50px 20px;
}
.services h2 {
  margin-bottom: 30px;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;

}
.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);

}
.card h3 {
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #2c3e50;
  color: white;
}
