<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Surya Builders</title>
  <link rel="stylesheet" href="../static/CSS/index.css">
</head>
<body>

  <div class="home-content">
    <h1>Welcome to Surya Builders</h1>
    <p>
     At Surya Dream Homes, we create more than houses – we build spaces where families grow, memories flourish, and dreams come alive. We don’t just sell homes, we create happy living experiences.
    </p>
    <a href="#">Explore More</a>
  </div>

  <div class="login-form">
    <h2>Login</h2>
    <form action="/home" method="POST">
      <input type="text" placeholder="Username" name="username" required>
      <input type="password" placeholder="Password" name="password" required>
      <button type="submit">Login</button>
    </form>
    <p>Don’t have an account? <a href="/register">Register</a></p>
  </div>

</body>
</html>
